.section-boxes {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
 
}

@media only screen and (max-width: 850px) {
  .section-boxes {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
  }
}

@media only screen and (max-width: 500px) {
  .section-boxes {
    grid-template-columns: 1fr;
    grid-gap: 2px;
  }
}
