#pay-feature {
  width: 100%;
  margin-top: 50px;
  .pay-container {
    width: 100%;
    background: rgb(240, 240, 240);
    padding: 15px;
    .title-box {
      text-align: left;
      width: 100%;
      font-family: "Montserrat";
      h1 {
        font-weight: 600;
        font-size: 1.8rem;
        word-spacing: 4px;
      }
      span {
        text-decoration: none;        
        font-size: 2rem;
        font-weight: 300;        
        font-size: 1.8rem;
        font-style: italic;
      }
      p {
        font-weight: 500;
      }
    }
    .pay-boxes {
      width: 95%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 15px;
      padding: 25px 15px;
    }
  }
}

@media only screen and (max-width: 850px) {
  #pay-feature {
    .pay-container {
      .pay-boxes {
        grid-template-columns: 1fr 1fr;
        padding: 0;
        margin: 20px 0;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  #pay-feature {
    margin: 20px 0;
    .pay-container {
      .title-box {
        padding: 10px 0;
        h1 {
          font-size: 1.4rem;
        }
        p {
          font-size: 1rem;
        }
      }
      .pay-boxes {
        grid-template-columns: 1fr;
        padding: 25px 0;
      }
    } 
  }
}
